
body {
  background: #e2e4e6 !important;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .mat-card.form-container.mat-card {
    background: #fff;
    padding: 3.5em;
    padding: 30px 40px;
    width: 450px;
    position: fixed;
    left: 50%;
    margin-left: -250px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  }