<mat-toolbar class="action-toolbar">
    <mat-toolbar-row>
        <button mat-icon-button matTooltip="Nuevo">
            <mat-icon>note_add</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Eliminar">
            <mat-icon>clear</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Buscar">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Guardar">
            <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Exportar">
            <mat-icon>find_in_page</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Imprimir">
            <mat-icon>print</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>