<mat-card class="form-container">
        <mat-card-content>
          <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" class="example-container">
            <div class="form-group">
                <p class="text-center">
                    Cambiar Contraseña
                </p>
            </div>
            <br/>
              <mat-form-field>
                <input matInput placeholder="Usuario" name="username" formControlName="userName">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Ingrese su Contraseña" [type]="hide ? 'password' : 'text'" formControlName="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Nueva Contraseña" [type]="hide ? 'password' : 'text'" formControlName="newPassword">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Confirmar Contraseña" [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>

              <div class="form-group">
                <div class="col-md-6">
                    <button class="btn-block" mat-raised-button color="primary" [disabled]="!loginForm.valid">Cambiar</button>
                </div>
                <div class="col-md-6">
                    <button class="btn-block" type="button" routerLink="/login" mat-raised-button color="warn">Cancelar</button>
                </div>
              </div>

              
              <br/>
              
              
              <div class="form-group text-center" style="margin-bottom: 0;">
                <p>
                    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>
                </p>
              </div>
            </form>
        </mat-card-content>
      </mat-card>
    
    