
.jumbotron {
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(left, #1e5799 0%, #207cca 0%, #1580b6 0%, #1f4888 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1e5799 0%,#207cca 0%,#1580b6 0%,#1f4888 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1e5799 0%,#207cca 0%,#1580b6 0%,#1f4888 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1f4888',GradientType=1 ); /* IE6-9 */
    border-top: 2px solid #2590ba;
    color: #fff;
    padding: 30px;
    margin: 20px 140px 60px 140px;
}